.party h1,
.party h3,
.party p {
  text-align: center;
  margin-bottom: 1rem;
}

.actions-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.party .services-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.party .service p {
  margin-bottom: 0;
}

.party h3 {
  margin-top: 1.5rem;
}

.small {
  font-size: 0.8rem;
  margin-bottom: 0.5rem !important;
}
